* {
	-webkit-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.read {
	border-radius: 28px;
	border: 1px solid #937341;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Playfair Display', serif;
	font-size: 21px;
	font-weight: bold;
	padding: 16px 31px;
	text-decoration: none;
}

.read:hover {
	color: #937341;
}

.read:active {
	top: 1px;
}

.links {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 100px;
}

.links div {
	width: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #0a0c10;
	margin-bottom: 40px;
	padding: 30px 0;
	border: 1px solid #937341;
}

.links .content {
	color: #fff;
	font-family: 'Playfair Display', serif;
}